:root {
  // Cores
  --gray-900: #141414;
  --gray-800: #1f1f1f;
  --gray-700: #333333;
  --green: #c4f82a;
  --white: #ffffff;

  // Typografia
  --text-preset-1-font-size: 1.5rem;
  --text-preset-1-font-family: 'inter-bold';
  --text-preset-1-line-height: 1.5;
  --text-preset-1-letter-spacing: 0;
  --text-preset-1-font-weight: 700;

  --text-preset-2-font-size: .875rem;
  --text-preset-2-font-family: 'inter-regular';
  --text-preset-2-line-height: 1.5;
  --text-preset-2-letter-spacing: 0;
  --text-preset-2-font-weight: 400;

  --text-preset-2-bold-font-size: .875rem;
  --text-preset-2-bold-font-family: 'inter-bold';
  --text-preset-2-bold-line-height: 1.5;
  --text-preset-2-bold-letter-spacing: 0;
  --text-preset-2-bold-font-weight: 700;
}
